{% extends 'edrar/edrar_base_template.html'%}
{% load static %}
{% block content %}
<h3 class="mx-4 my-2">Add activity</h3>
<form id="activity-logger-form" action="{% url 'edrar_add' %}" method="POST">
    {% csrf_token %}

    <div class="row mx-3 mt-3">
        <div class="col-sm-3">
            <div class="form-group">
                <label for="activity">Activity</label>
                {{form.activity}}
            </div>
        </div>
    </div>
    <div class="row mx-3 mt-1">
        <div class="col-sm-3">
            <div class="form-group">
                <label for="siteid">Site</label>
                {{form.siteid}}
            </div>
        </div>
        <div class="col-sm-3">
            <div class="form-group">
                <label for="tech">Tech</label>
                {{form.tech}}
            </div>
        </div>
        <div class="col-sm-3">
            <div class="form-group">
                <label for="band">Band</label>
                {{form.band}}
            </div>
        </div>
    </div>

    <hr>

    <div id="filtered-device-table-container" class="row mx-3 mt-1 small datatable-container">
        <h5>Asset Inventory Device Data</h5>
        <div class="col-lg-12">
            <table id="filtered-device-table" class="table nowrap" style="width: 100%;">
                <thead class="thead-light">
                    <tr>
                        <th>EMS ID</th>
                        <th>DN</th>
                        <th>Device ID</th>
                        <th>Parent</th>
                        <th>NE Type</th>
                        <th>Status</th>
                        <!-- Hidden fields for form fields reference-->
                        <th>Site ID</th>
                        <th>Subdomain</th>
                        <th>Vendor</th>
                        <th>Domain</th>
                        <th>Model</th>
                        <th>ID</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <hr id="filtered-device-table-separator" class="dt-separator">

    <div id="filtered-cell-table-container" class="row mx-3 mt-1 small datatable-container">
        <h5>Asset Inventory Cell Data</h5>
        <div class="col-lg-12">
            <table id="filtered-cell-table" class="table nowrap" style="width: 100%;">
                <thead class="thead-light">
                    <tr>
                        <th>EMS ID</th>
                        <th>Cell Name</th>
                        <th>Parent</th>
                        <th>Parent DN</th>
                        <th>Band</th>
                        <th>NE Type</th>
                        <th>BTS ID</th>
                        <th>LAC/TAC</th>
                        <th>Cell ID</th>
                        <th>Status</th>
                        <!-- HIDDEN FIELDS -->
                        <th>SAC</th>
                        <th>PCI</th>
                        <th>Domain</th>
                        <th>Site ID</th>
                        <th>Tech</th>
                        <th>ID</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <hr id="filtered-cell-table-separator" class="dt-separator">

    <div id="filtered-trx-table-container" class="row mx-3 mt-1 small datatable-container">
        <h5>Asset Inventory TRX Data</h5>
        <div class="col-lg-12">
            <table id="filtered-trx-table" class="table nowrap" style="width: 100%;">
                <thead class="thead-light">
                    <tr>
                        <th>EMS ID</th>
                        <th>TRX Name</th>
                        <th>Cell Name</th>
                        <th>BTS Name</th>
                        <th>E1 Assignment</th>
                        <th>Admin State</th>
                        <!-- HIDDEN FIELDS -->
                        <th>CellTableID</th>
                        <th>ID</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <hr id="filtered-trx-table-separator" class="dt-separator">

    <div class="row mx-3 mt-1 input-grp-container">
        <div class="col-sm-3 tf-container">
            <div class="form-group">
                <label for="device_name">Device name</label>
                {{form.device_name}}
            </div>
        </div>
        <div class="col-sm-3 tf-container">
            <div class="form-group">
                <label for="vendor">Vendor</label>
                {{form.vendor}}
            </div>
        </div>
        <div class="col-sm-3 tf-container">
            <div class="form-group">
                <label for="homing">Homing</label>
                {{form.homing}}
            </div>
        </div>
        <div class="col-sm-3 tf-container">
            <div class="form-group">
                <label for="equipment_type">Equipment type</label>
                {{form.equipment_type}}
            </div>
        </div>
    </div>

    <div class="row mx-3 mt-1 input-grp-container">
        <div class="col-sm-3 tf-container">
            <div class="form-group">
                <label for="bts_id">BTS ID</label>
                {{form.bts_id}}
            </div>
        </div>
        <div class="col-sm-3 tf-container">
            <div class="form-group">
                <label for="cell_name">Cell Name</label>
                {{form.cell_name}}
            </div>
        </div>
        <div class="col-sm-3 tf-container">
            <div class="form-group">
                <label for="cell_id">Cell ID</label>
                {{form.cell_id}}
            </div>
        </div>
        <div class="col-sm-3 tf-container">
            <div class="form-group">
                <label for="lac">LAC</label>
                {{form.lac}}
            </div>
        </div>
        <div class="col-sm-3 tf-container">
            <div class="form-group">
                <label for="sac">SAC</label>
                {{form.sac}}
            </div>
        </div>
        <div class="col-sm-3 tf-container">
            <div class="form-group">
                <label for="pci">PCI</label>
                {{form.pci}}
            </div>
        </div>
        <div class="col-sm-3 tf-container">
            <div class="form-group">
                <label for="iub_type">IuB Type</label>
                {{form.iub_type}}
            </div>
        </div>
        <div class="col-sm-3 tf-container">
            <div class="form-group">
                <label for="bandwidth">Bandwidth</label>
                {{form.bandwidth}}
            </div>
        </div>
        <div class="col-sm-3 tf-container">
            <div class="form-group">
                <label for="omip">OMIP</label>
                {{form.omip}}
            </div>
        </div>
        <div class="col-sm-3 tf-container">
            <div class="form-group">
                <label for="trx_config">TRX Config</label>
                {{form.trx_config}}
            </div>
        </div>
        <div class="col-sm-3 tf-container">
            <div class="form-group">
                <label for="s1_c">S1_C</label>
                {{form.s1_c}}
            </div>
        </div>
        <div class="col-sm-3 tf-container">
            <div class="form-group">
                <label for="s1_u">S1_U</label>
                {{form.s1_u}}
            </div>
        </div>
    </div>

    <div class="row mx-3 mt-1 general-input-container">
        <div class="col-sm-3">
            <div class="form-group">
                <label for="site_status">Site status</label>
                {{form.site_status}}
            </div>
        </div>
        <div class="col-sm-3">
            <div class="form-group">
                <label for="user">Engineer</label>
                {{form.user}}
            </div>
        </div>
        <div class="col-sm-3">
            <div class="form-group">
                <label for="counterpart">Counterpart</label>
                {{form.counterpart}}
            </div>
        </div>
    </div>

    <div class="row mx-3 mt-1 general-input-container">
        <div class="col-lg-12">
            <div class="form-group">
                <label for="remarks">Remarks</label>
                {{form.remarks}}
            </div>
        </div>
    </div>

    <div class="row mx-3 mt-3 mb-3">
        <div class="col">
            <a href="{% url 'edrar_home' %}" id="cancel-save-activity" class="btn btn-secondary btn-lg btn-block">Cancel</a>
        </div>
        <div class="col">
            <button id="save-activity" class="btn btn-primary btn-lg btn-block">Save</button>
        </div>
    </div>
</form>

<!-- Page Modals -->
<!-- Confirm Save Modal-->
<div id="confirm-save-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myConfirmSaveModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel"><i class="fas fa-exclamation-circle text-warning"></i> Confirm Saving Activity</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col">
                        <p>
                            Are you sure you want to save this activity?
                        </p>
                        <p>
                            Saving this activity will not only log the activity you did but will also reflect the 
                            <strong class="text-danger">changes</strong> to our <strong><u>Asset Inventory Database</u></strong>.
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <button id="cancel-confirm-activity" class="btn btn-secondary btn-lg btn-block" data-dismiss="modal">Cancel</button>
                    </div>
                    <div class="col">
                        <button id="confirm-activity" class="btn btn-primary btn-lg btn-block">
                            <img class="loading-ellipsis" src="{% static 'edrar/img/loading-ellipsis-50px.gif' %}" alt="loading">
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End of Confirm Save Modal -->
<!-- NE Not Found Modal-->
<div id="ne-not-found-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myNENotFoundModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-danger" id="exampleModalLabel"><i class="fas fa-exclamation-circle"></i> NE Not Found!</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col">
                        <p>
                            Network element <strong id="concat-ne-id"></strong> is not in the data source.
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <button class="btn btn-primary btn-lg btn-block" data-dismiss="modal">OK</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End of NE Not Found Modal-->
{% endblock content %}
{% block customJs %}
<script src="{% static 'edrar/js/add-activity.js' %}"></script>
<script src="{% static 'edrar/js/post-activity.js' %}"></script>
{% endblock customJs %}