{% extends 'edrar/edrar_base_template.html'%}
{% load static %}
{% block content %}
<h3 class="mx-4 my-2">Add activity</h3>
<form id="activity-logger-form" action="{% url 'edrar_log' %}" method="POST">
    {% csrf_token %}

    <div class="row mx-3 mt-3">
        <div class="col-sm-3">
            <div class="form-group">
                <label for="activity">Activity</label>
                {{form.activity}}
            </div>
        </div>
    </div>
    <div id="stb-input-fields" class="">
        <div class="row mx-3 mt-1">
            <div class="col-sm-3">
                <div class="form-group">
                    <label for="siteid">Site</label>
                    {{form.siteid}}
                </div>
            </div>
            <div class="col-sm-3">
                <div class="form-group">
                    <label for="tech">Tech</label>
                    {{form.tech}}
                </div>
            </div>
            <div class="col-sm-3">
                <div class="form-group">
                    <label for="band">Band</label>
                    {{form.band}}
                </div>
            </div>
        </div>
    </div>
    

    <hr>

    <div id="filtered-device-table-container" class="row mx-3 mt-1 small datatable-container d-none">
        <h5>Asset Inventory Device Data</h5>
        <div class="col-lg-12">
            <table id="filtered-device-table" class="table nowrap" style="width: 100%;">
                <thead class="thead-light">
                    <tr>
                        <th>EMS ID</th>
                        <th>Device ID</th>
                        <th>Parent</th>
                        <th>NE Type</th>
                        <th>Status</th>
                        <!-- Hidden fields for form fields reference-->
                        <th>DN</th>
                        <th>Site ID</th>
                        <th>Subdomain</th>
                        <th>Vendor</th>
                        <th>Domain</th>
                        <th>Model</th>
                        <th>ID</th>
                        <th>Rel_ID</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <hr id="filtered-device-table-separator" class="dt-separator d-none">

    <div id="filtered-cell-table-container" class="row mx-3 mt-1 small datatable-container d-none">
        <h5>Asset Inventory Cell Data</h5>
        <div class="col-lg-12">
            <table id="filtered-cell-table" class="table nowrap" style="width: 100%;">
                <thead class="thead-light">
                    <tr>
                        <th>EMS ID</th>
                        <th>Cell Name</th>
                        <th>Parent</th>
                        <th>Parent DN</th>
                        <th>Band</th>
                        <th>NE Type</th>
                        <th>BTS ID</th>
                        <th>LAC/TAC</th>
                        <th>Cell ID</th>
                        <th>Status</th>
                        <!-- HIDDEN FIELDS -->
                        <th>SAC</th>
                        <th>PCI</th>
                        <th>Domain</th>
                        <th>Site ID</th>
                        <th>Tech</th>
                        <th>ID</th>
                        <th>Rel_ID</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <hr id="filtered-cell-table-separator" class="dt-separator d-none">

    <div id="filtered-trx-table-container" class="row mx-3 mt-1 small datatable-container d-none">
        <h5>Asset Inventory TRX Data</h5>
        <div class="col-lg-12">
            <table id="filtered-trx-table" class="table nowrap" style="width: 100%;">
                <thead class="thead-light">
                    <tr>
                        <th>EMS ID</th>
                        <th>TRX Name</th>
                        <th>Cell Name</th>
                        <th>BTS Name</th>
                        <th>Admin State</th>
                        <th>Status</th>
                        <!-- HIDDEN FIELDS -->
                        <th>ID</th>
                        <th>Rel_ID</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <hr id="filtered-trx-table-separator" class="dt-separator d-none">

    <div class="row mx-3 mt-1 input-grp-container">
        <div class="col-sm-3 tf-container d-none">
            <div class="form-group">
                <label for="device_name">Device name</label>
                {{form.device_name}}
            </div>
        </div>
        <div class="col-sm-3 tf-container d-none">
            <div class="form-group">
                <label for="vendor">Vendor</label>
                {{form.vendor}}
            </div>
        </div>
        <div class="col-sm-3 tf-container d-none">
            <div class="form-group">
                <label for="homing">Homing</label>
                {{form.homing}}
            </div>
        </div>
        <div class="col-sm-3 tf-container d-none">
            <div class="form-group">
                <label for="equipment_type">Equipment type</label>
                {{form.equipment_type}}
            </div>
        </div>
    </div>

    <div class="row mx-3 mt-1 input-grp-container">
        <div class="col-sm-3 tf-container d-none">
            <div class="form-group">
                <label for="bts_id">BTS ID</label>
                {{form.bts_id}}
            </div>
        </div>
        <div class="col-sm-3 tf-container d-none">
            <div class="form-group">
                <label for="cell_name">Cell Name</label>
                {{form.cell_name}}
            </div>
        </div>
        <div class="col-sm-3 tf-container d-none">
            <div class="form-group">
                <label for="cell_id">Cell ID</label>
                {{form.cell_id}}
            </div>
        </div>
        <div class="col-sm-3 tf-container d-none">
            <div class="form-group">
                <label for="lac">LAC</label>
                {{form.lac}}
            </div>
        </div>
        <div class="col-sm-3 tf-container d-none">
            <div class="form-group">
                <label for="sac">SAC</label>
                {{form.sac}}
            </div>
        </div>
        <div class="col-sm-3 tf-container d-none">
            <div class="form-group">
                <label for="pci">PCI</label>
                {{form.pci}}
            </div>
        </div>
        <div class="col-sm-3 tf-container d-none">
            <div class="form-group">
                <label for="trx_config">TRX Config</label>
                {{form.trx_config}}
            </div>
        </div>
        <div class="col-sm-3 tf-container d-none">
            <div class="form-group">
                <label for="iub_type">IuB Type</label>
                {{form.iub_type}}
            </div>
        </div>
        <div class="col-sm-3 tf-container d-none">
            <div class="form-group">
                <label for="abis">ABIS</label>
                {{form.abis}}
            </div>
        </div>
        <div class="col-sm-3 tf-container d-none">
            <div class="form-group">
                <label for="iubip">IuBIP</label>
                {{form.iubip}}
            </div>
        </div>
        <div class="col-sm-3 tf-container d-none">
            <div class="form-group">
                <label for="s1_c">S1_C</label>
                {{form.s1_c}}
            </div>
        </div>
        <div class="col-sm-3 tf-container d-none">
            <div class="form-group">
                <label for="s1_u">S1_U</label>
                {{form.s1_u}}
            </div>
        </div>
        <div class="col-sm-3 tf-container d-none">
            <div class="form-group">
                <label for="omip">OMIP</label>
                {{form.omip}}
            </div>
        </div>
        <div class="col-sm-3 tf-container d-none">
            <div class="form-group">
                <label for="bandwidth">Bandwidth</label>
                {{form.bandwidth}}
            </div>
        </div>
    </div>

    <div id="rehoming-input-fields" class="d-none">
        <div class="row mx-3 mt-1 mb-2">
            <div class="col px-2">
                <label for="from_bsc_rnc">From</label>
                <select name="from_bsc_rnc" id="from_bsc_rnc" class="form-control"></select>
            </div>
            <div class="col-xs-2 px-4">
                &nbsp;
            </div>
            <div class="col px-2">
                <label for="to_bsc_rnc">To</label>
                <select name="to_bsc_rnc" id="to_bsc_rnc" class="form-control"></select>
            </div>
        </div>
        <div class="row mx-3 mt-1">
            <div class="col px-2">
                <select name="from" id="multiselect" class="form-control" size="8" multiple="multiple">
                </select>
            </div>
            <div class="col-xs-2 px-2">
                <button type="button" id="multiselect_rightAll" class="btn btn-block btn-outline-dark"><i class="fas fa-angle-double-right"></i></button>
                <button type="button" id="multiselect_rightSelected" class="btn btn-block btn-outline-dark"><i class="fas fa-angle-right"></i></button>
                <button type="button" id="multiselect_leftSelected" class="btn btn-block btn-outline-dark"><i class="fas fa-angle-left"></i></button>
                <button type="button" id="multiselect_leftAll" class="btn btn-block btn-outline-dark"><i class="fas fa-angle-double-left"></i></button>
            </div>
            <div class="col px-2">
                <select name="to" id="multiselect_to" class="form-control" size="8" multiple="multiple">
                </select>
            </div>
        </div>
        <!-- <div class="row mx-3 mt-1">
            <div class="col-sm-3">
                <div class="form-group">
                    <label for="rehoming_lac">LAC</label>
                    <input type="text" name="rehoming_lac" maxlength="250" class="form-control" id="id_rehoming_lac">
                </div>
            </div>
        </div>-->
    </div>

    <div class="row mx-3 mt-1 general-input-container">
        <div class="col-sm-3">
            <div class="form-group">
                <label for="site_status">Site status</label>
                {{form.site_status}}
            </div>
        </div>
        <div class="col-sm-3">
            <div class="form-group">
                <label for="user">Engineer</label>
                {{form.user}}
            </div>
        </div>
        <div class="col-sm-3">
            <div class="form-group">
                <label for="counterpart">Counterpart</label>
                {{form.counterpart}}
            </div>
        </div>
    </div>

    <div class="row mx-3 mt-1 general-input-container">
        <div class="col-lg-12">
            <div class="form-group">
                <label for="remarks">Remarks</label>
                {{form.remarks}}
            </div>
        </div>
    </div>

    <div class="row mx-3 mt-3 mb-3">
        <div class="col">
            <a href="{% url 'edrar_home' %}" id="cancel-save-activity" class="btn btn-secondary btn-lg btn-block">Cancel</a>
        </div>
        <div class="col">
            <button id="save-activity" class="btn btn-primary btn-lg btn-block">Save</button>
        </div>
    </div>
</form>

<!-- Page Modals -->
<!-- Confirm Save Modal-->
<div id="confirm-save-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myConfirmSaveModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel"><i class="fas fa-exclamation-circle text-warning"></i> Confirm Saving Activity</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col">
                        <p>
                            Are you sure you want to save this activity?
                        </p>
                        <p>
                            Saving this activity will not only log the activity you did but will also reflect the 
                            <strong class="text-danger">changes</strong> to our <strong><u>Asset Inventory Database</u></strong>.
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <button id="cancel-confirm-activity" class="btn btn-secondary btn-lg btn-block" data-dismiss="modal">Cancel</button>
                    </div>
                    <div class="col">
                        <button id="confirm-activity" class="btn btn-primary btn-lg btn-block">
                            Confirm
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End of Confirm Save Modal -->
<!-- Missing Data Modal -->
<div id="missing-data-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myMissingDataModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-danger" id="exampleModalLabel"><i class="fas fa-exclamation-circle"></i> Missing Data!</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col">
                        <p id="missing-data-msg" class="text-center text-danger"></p>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <button class="btn btn-primary btn-lg btn-block" data-dismiss="modal">OK</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End of Missing Data Modal -->
<!-- DB Error Modal -->
<div id="db-error-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myDBErrorModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-danger" id="exampleModalLabel"><i class="fa fa-database" aria-hidden="true"></i> Database Error!</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col">
                        <p id="db-error-msg" class="text-dark"></p>
                        <p class="text-muted">Element: <span id="db-error-element"></span></p>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <button class="btn btn-secondary btn-lg btn-block" data-dismiss="modal">OK</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End of DB Error Modal -->
<!-- Success Modal -->
<div id="save-success-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySaveSuccessModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body border border-dark">
                <div class="row">
                    <div class="col">
                        <div class="mx-auto py-2 overflow-auto">
                            <h5 class="text-success"><i class="fa fa-database" aria-hidden="true"></i> Activity Saved!</h5>
                            <p id="success-save-msg" class="text-dark"></p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col text-right">
                        <a href="{% url 'edrar_home' %}" class="btn btn-outline-dark mt-2 ml-1">Go to home page</a>
                        <a href="{% url 'edrar_log' %}" class="btn btn-outline-dark mt-2 ml-1">Log another activity</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End of Success Modal -->
<!-- Fetching Data Modal -->
<div id="fetching-data-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myFetchingDataModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body border border-dark">
                <div class="row">
                    <div class="col">
                        <div class="mx-auto py-2">
                            <p class="my-0 text-center text-danger">
                                <img src="{% static 'edrar/img/loading-spin-100px.gif' %}" alt="laoading-spin-100px" class="pr-2">
                                <strong>Fetching data, please wait...</strong>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End of Fetching Data Modal -->
{% endblock content %}
{% block customJs %}
<script src="{% static 'edrar/js/global.js' %}"></script>
<script src="{% static 'edrar/js/page-datatable.js' %}"></script>
<script src="{% static 'edrar/js/page-activity-form.js' %}"></script>
<script src="{% static 'edrar/js/add-activity.js' %}"></script>
<script src="{% static 'edrar/js/post-activity.js' %}"></script>
<script src="{% static 'edrar/js/multiselect.js' %}"></script>
{% endblock customJs %}