
.cover-container {
    max-width: 50em;
    min-width: 42em;
}

img{
    width: 100%;
}

h4, h5, div#end-points-box ul li{
    color: rgb(233, 104, 39);
}

p a{
    color: rgb(225, 253, 63);
}

div#end-points-box ul li{
    font-size: 18px;
    font-weight: bold;
    text-decoration: underline;
}

div.json-response{
    max-height: 350px;
    overflow: auto;
    margin-bottom: 25px;
}

.small-text{
    font-size: small;
}

table#device{
    width:100%
}